/* Create the global styling. */
/* Why should I create global styles? */
/* What is border-box? */

* {
  box-sizing: border-box; /* Explain why we place the box-sizing in the global styling. */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3 { /* Explain how you can have mulitple selector in a css rule. */
  font-weight: 700;
  text-transform: uppercase;
}

ul {
  list-style: none; /* Why should we use list-style of none globally? */
}

a {
  text-decoration: none;
}


/* Grid Layout */
/* Create the grid layout. */
/* What is the purpose of the grid. */

.site-container {
  background-color: beige;
  margin: 20px auto;
  width: 90%;
}

.site-header,
.site-row,
.site-col-left,
.site-col-right,
.site-row-title,
.site-footer {
  border: 1px solid orange;
  padding: 10px;
  overflow: hidden;
  width: 100%;
}

.site-row-title {
  padding-left: 25%;
}

.site-col-left {
  background-color: peachpuff;
  float: left;
  width: 25%;
}

.site-col-right {
  background-color: lemonchiffon;
  float: right;
  width: 75%;
}

.site-footer {
  background-color: wheat;
  line-height: 30px;
  text-align: center;
}

.site-footer li {
  display: inline-block;
  margin: 0 5px;
}